*{padding:0; margin:0; box-sizing: border-box; font-family:sans-serif;}
header{
	width: 100vw;
	min-height: 100vh;
	background: #34495e;
	font-size: medium;
	display: flex;
	justify-content: center;
	align-items: center;
}H1{
    color: black;
    align-iteMS:center;
}
.container{
	background: white;
	max-width: 450px;
	min-height: 50x;
    font-size: medium;
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
	padding: 0.8rem 1.56em;
}
.left{
	flex-basis: 50%;
}
.right{
	flex-basis: 50%;
}
form{
	padding: 1rem;
}

h3{
	margin-top: 1rem;
	color:#2c3e50;
	}

form input[type="text"]{
	width: 100%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
}



input[type="submit"]{
	width: 100%;
	padding: 0.7rem 1.5rem;
	background: #34495e;
	color: white;
	border: none;
	outline: none;
	margin-top: 1rem;
	cursor: pointer;
}






	
	


